Source: ros-kinetic-usb-cam-hardware
Section: misc
Priority: optional
Maintainer: Yoshito Okada <yoshito@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-manager, ros-kinetic-hardware-interface, ros-kinetic-nodelet, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-usb-cam-hardware-interface
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-usb-cam-hardware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager, ros-kinetic-hardware-interface, ros-kinetic-nodelet, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-usb-cam-hardware-interface
Description: The usb_cam_hardware package
