Source: ros-melodic-usb-cam-hardware
Section: misc
Priority: extra
Maintainer: yoshito <yoshito@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-controller-manager, ros-melodic-hardware-interface, ros-melodic-nodelet, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-usb-cam-hardware-interface
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-usb-cam-hardware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-controller-manager, ros-melodic-hardware-interface, ros-melodic-nodelet, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-usb-cam-hardware-interface
Description: The usb_cam_hardware package
