Source: ros-melodic-usb-cam-hardware-interface
Section: misc
Priority: optional
Maintainer: Yoshito Okada <yoshito@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-hardware-interface, ros-melodic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-usb-cam-hardware-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-hardware-interface, ros-melodic-roscpp
Description: The usb_cam_hardware_interface package
